@font-face{
	font-family: gilroy-bold;
	src:url("Radomir Tinkov - Gilroy-ExtraBold.otf");
}

@font-face{
	font-family: gilroy;
	src:url("Radomir Tinkov - Gilroy-Light.otf");
}

#background{
	background-image: url(bg.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#header{
	width: auto;
	height:auto;
	background-color: rgba(0,0,0,0.70);
	color:rgba(250,250,250,1.00);
	padding-top: 100px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	
}

#header_content{
	text-align: left;
}

#header_text{
	padding-left: 20%;
	width: 50%;
}

#header_list{
	padding-left:20%;
	width:50%;
}

#header_list li{
	list-style: none;
	font-family:gilroy,sans-serif;
	margin: 8px;
}

#header_list a{
	-webkit-transition: color 0.5s, background 0.5s;
	transition: color 0.5s, background 0.5s;
	background: none;
}

#header_list a, a:visited, a:active{
	text-decoration: none;
	color: inherit;
}

#header_list a:hover{
	color: #948F8B;
}

#header h1{
	font-family:gilroy-bold,sans-serif;
}

#header h2{
	font-family:gilroy,sans-serif;
}

#downIcon{
	margin-top: 100px;
	opacity: 1;
	transition: all 0.5s;
}

#downIcon:hover{
	opacity: .6;
}

#footer{
	width: auto;
	height:auto;
	background-color: rgba(0,0,0,0.7);
	color:rgba(250,250,250,1.00);
	padding-top: 20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:40px;
}

#footer h2{
	font-family: gilroy;
	text-align: center;
}
#footer {
	text-align: center;
}

#projects table{
	width: auto;
}

.content{
	text-align: center;
	
	
}

.content.block{
	width:25%;
	height: auto;
	padding: 20px;
}

.content.frame{
	font-family: gilroy,sans-serif;
	height: auto;
	position: relative;
	margin: 0;
}

.content.image{
	position: relative;
	width: 100%;
	
	outline: none;
	display: block;
	z-index: 1;
}

.content.title{
	position:static;
}

.content.hovering_text{
	position: absolute;
	top: 0px;
	width: 90%;
	height: 90%;
	background:rgba(0,0,0,0.6);
	color: rgba(250,250,250,0.95);
	opacity:0;
	z-index: 2;
	margin: 0px;
	text-align: center;
	transition: all 0.5s;
	padding: 5%;
	-webkit-transition:all 0.5s;
}
.content.hovering_text:hover{
	opacity: 1;
}

.divider td{
	padding-top: 30px;
	padding-bottom: 70px;
}

video{
}

#body{
	background-color:rgba(244,244,244,0.90);
	border-top-left-radius: 10px;
	border-bottom-right-radius: 50px;
	padding: 20px;
	text-align: left;
	margin-top:10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom:30px;
}

.toobright{
	border: thin #5E5E5E solid;
}

#body h1{
	font-family: gilroy,sans-serif;
}

p, a{
	font-family: gilroy, sans-serif;
}

a{
	text-decoration: none;
	color: inherit;
}

hr{
	margin-left: 20%;
	margin-right: 20%;
}
