@charset "utf-8";
/* CSS Document */
.slider{
	width:80%;
	height:500px;
	padding:0;
	margin:0px 0px 0px 0px;
	position:relative;
	overflow:hidden;
}

.slider img{
	height:100%;
	left:0;
	right:0;
	z-index: -1;
	position:absolute;
	margin: 0 auto;
	overflow:hidden;
	top:0;
	display:none;
}

.slider .BUTTON{
	border:0;
	margin:0;
	padding:0;
	width:25%;
	height:100%;
	background-color: #FFF;
	color:#000;
	opacity: 0;
	box-shadow:none;
	position:absolute;
	transition: .3s opacity;
	z-index: 1;
    vertical-align: middle;
	text-align:center;
	display: table;
}

.BUTTON h1{
	display:table-cell;
	vertical-align: middle;
}


.slider .BUTTON:hover{
	opacity: .65;
}

.subBody{
	position:relative;
	width:60%;
	padding:0 2.5% 0 2.5%;
	float:left;
	margin:30px 0 30px 0;
}



.subBody img{
	border-radius: 5%;
	width:100%;
	filter:brightness(1);
	transition:0.3s filter;
}

.subBody:hover img{
	filter:brightness(0.5);
}

.subBody p{
	position: absolute;
	color:#fff;
    text-align:center;
	top:0;
	bottom:0;
	left:0;
	width:90%;
	margin:30px 5% 30px 5%;
}

#DehongText{
	opacity:0;
	transition:.75s opacity;
}

#Dehong:hover #DehongText{
	opacity:1;
}

#NiujieText{
	opacity:0;
	transition:.75s opacity;
}

#NiuJie:hover #NiujieText{
	opacity:1;
}