.project.container {
    position: static;
    display: grid;
    max-width: 100%;
    grid-template: "title title title media" "time role . media" "summary summary summary media" ". . . media" "tag tag tag media";
    grid-template-columns: auto auto auto 40%;
    column-gap: 15px;
    padding: 0.33in;
    padding-right: 0.66in;
    color: rgb(221, 221, 221);
}

.container .media {
    grid-area: media;
    width: 100%;
    height: 100%;
}

.container .title {
    white-space: nowrap;
    grid-area: title;
    margin: 0;
    height: min-content;
    width: min-content;
}

.container .time {
    white-space: nowrap;
    grid-area: time;
    margin: 0;
    margin-top: 0.33em;
    height: min-content;
}

.container .role {
    white-space: nowrap;
    grid-area: role;
    margin: 0;
    margin-top: 0.33em;
}

.container .summary {
    grid-area: summary;
    margin: 0;
    margin-top: 0.33em;
}

.container div.tag {
    grid-area: tag;
    height: max-content;
}

.container div.tag * {
    display: inline-block;
    border-radius: 3px;
    height: min-content;
    padding: 10px;
    background-color: rgb(97, 97, 97);
    transition: all 0.1s;
    transition-timing-function: ease-in-out;
}

.container div.tag *:hover {
    padding-left: 20px;
    padding-right: 20px;
}

.container div.tag a {
    background-color: rgb(172, 204, 180);
    color: rgb(73, 70, 62);
}