.oneline {
    white-space: nowrap;
}

.container {
    color: rgb(221, 221, 221);
    max-width: 100%;
    column-gap: 15px;
    padding: 0.33in;
}

.project.container {
    position: static;
    display: grid;
    grid-template: "title title title title" "time role . media" "summary summary summary media" "tag tag tag media";
    grid-template-columns: auto auto auto 40%;
    grid-template-rows: min-content min-content min-content min-content;
    transition: all 0.1s;
    transition-timing-function: ease-in-out;
    align-items: center;
}

.project.container * {
    display: grid;
    margin: 0;
}

.container .media {
    grid-area: media;
    width: 100%;
    object-fit: contain;
}

.project.container .title {
    grid-area: title;
}

.project.container .title * {
    margin: 0;
}

.project.container .time {
    grid-area: time;
}

.project.container .role {
    grid-area: role;
}

.project.container .summary {
    grid-area: summary;
    margin: 0;
    margin-top: 0.33em;
}

.container div.tags {
    grid-area: tag;
}

.container div.tags div {
    display: inline;
}

.tag {
    display: inline;
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

.tag:hover {
    margin-left: 4px;
    margin-right: 4px;
}

.tag p {
    background-color: rgb(97, 97, 97);
}

.tag a {
    background-color: rgb(172, 204, 180);
    color: rgb(73, 70, 62);
}