.project.container {
    position: static;
    display: grid;
    max-width: 100%;
    grid-template: "media title time" "media title role" "media summary summary" "tag tag tag";
    grid-template-columns: auto, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    column-gap: 5px;
    row-gap: 5px;
    padding: 0.33in;
    color: rgb(221, 221, 221);
}

.container .media {
    grid-area: media;
}

.container .title {
    grid-area: title;
}

.container .time {
    grid-area: time;
    height: min-content;
    text-align: right;
}

.container .role {
    grid-area: role;
    height: min-content;
    text-align: right;
}

.container .summary {
    grid-area: summary;
}

.container div.tag {
    grid-area: tag;
    text-align: right;
}

.container div.tag * {
    display: inline-block;
    border-radius: 3px;
    width: max-content;
    height: min-content;
    padding: 5px;
    background-color: rgb(97, 97, 97);
}