<!DOCTYPE html>
<html>

<head>
    <link href="./block.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="project container">
        <video class="media"></video>
        <h1 class="title">My Title!</h1>
        <p class="time">Oct 2021</p>
        <p class="role">Da Boss</p>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis sit amet neque at dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque ac risus vitae elit lobortis aliquam. Sed vestibulum tortor nec semper cursus.</p>
        <div class="tag">
            <p class="tag">abc</p>
            <p class="tag">d</p>
            <p class="tag">lorem ipsum</p>
        </div>
    </div>
</body>

</html>