html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: gilroy-bold;
    src: url("../font/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: gilroy;
    src: url("../font/Radomir\ Tinkov\ -\ Gilroy-Light.otf");
}

@font-face {
    font-family: now;
    src: url('../font/now-alt/NowAlt-Light.eot');
    src: url('../font/now-alt/NowAlt-Light.eot?#iefix') format('embedded-opentype'), url('../font/now-alt/NowAlt-Light.woff2') format('woff2'), url('../font/now-alt/NowAlt-Light.woff') format('woff'), url('../font/now-alt/NowAlt-Light.ttf') format('truetype'), url('../font/now-alt/NowAlt-Light.svg#NowAlt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: now, gilroy, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    margin-left: 20%;
    margin-right: 20%;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(228, 228, 227);
    color: rgb(39, 39, 37);
    background-size: cover;
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    user-select: none;
}


/*
 Background canvas
 */

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
 Header
 */

#header {
    position: absolute;
    bottom: 15%;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
}

#header_text {
    width: min-content;
    overflow-x: hidden;
    text-overflow: clip;
    transition: width 0.2s;
    transition-timing-function: ease-in-out;
}

#header_text h1,
h2,
h3,
h4,
h5,
h6 {
    width: max-content;
}

#header ul {
    padding-left: 0px;
    list-style: none;
}

.hook {
    width: min-content;
    height: min-content;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    opacity: 1;
    transition: all 0.3s;
    transition-timing-function: ease-in;
}

.hook:hover {
    cursor: pointer;
    opacity: 0.6;
}


/*
 Exhibition Slabs
 */

.exhibition {
    background-color: rgba(39, 39, 37, 0.308);
    min-width: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: width 0.3s;
    transition-timing-function: ease-in-out;
    border-top-left-radius: 0.0625in;
    overflow-x: hidden;
    /* hide scrollbar but allow scrolling*/
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.exhibition::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.exhibition#projects {
    background-color: hsla(114, 5%, 36%, 0.85);
    top: 0px;
}

.exhibition#experiments {
    background-color: hsla(114, 5%, 42%, 0.85);
    top: 12px;
}

.exhibition#blog {
    background-color: hsla(114, 5%, 49%, 0.85);
    top: 24px;
}

.exhibition#info {
    background-color: hsla(114, 5%, 56%, 0.85);
    top: 36px;
}